@import "base";
@import "compass";

body,
#page {
	background:#fff;
	font-family: $sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $header;
	font-weight: normal;
	letter-spacing:.75px;
}
h2.block-title {
	font-size:2em;
}
p {
	font-family:$sans-serif;
}
.breadcrumb {
    font-size: inherit;
    color:$link;
    a {
    	color:$link;
    }
}
.center { text-align:center;margin:0 auto; }
.left { text-align:left; }
.right { text-align:right; }

#zone-branding-wrapper {
    background-color: #FFFFFF;
    background-image: none;
    color: $page;
    height:80px;
    padding: 10px;
    filter: none; //override ie setting from dkan
}
.branding-data {
	line-height:85px;
}

.front .zone-preface-wrapper {
	background-image: url("../images/homepage.jpg");
	@include background-size(cover);
	position:center center;
}
.front .zone-preface-wrapper:after {
    background-color: transparent;
    background-image: none;
    height: 0;
}
.context-blog .zone-preface-wrapper,
.node-type-blog .zone-preface-wrapper {
	background-image: url("../images/blog.jpg");
	@include background-size(cover);
	position:center center;
	height:104px;
}

.front #section-header {
	z-index:5;
}
.front #section-content {
	margin-top:-35px;
	z-index:1;
}
#section-footer:after, #section-footer:before,
#zone-menu-wrapper:after, #zone-menu-wrapper:before,
.zone-postscript-wrapper:before,
.zone-postscript-wrapper:after,
.zone-preface-wrapper:before,
.zone-preface-wrapper:after {
	border:none !important;
	height:0 !important;
	background:transparent;
}

#zone-postscript .block, #zone-content .block {
    background-color: white;
    border:none;
    @include box-shadow(none);
}

#region-sidebar-second {
	.block {
		.block-inner {
			padding:0;
		}
		.content {
			padding:5px 10px;
		}
	}
}

//MENUS

#zone-menu-wrapper {
	@include rgba-background(rgba(0,0,0,0.75));
	height:35px;
	z-index:10;
	padding:0;
}
#block-superfish-1 {
	ul#superfish-1 {
		width:100%;
		margin:0;
		li {
			width:19.5%;
			background:transparent;
			margin:0;
			line-height:auto;
			a {
		    	padding: 5px 6px 4px;
		    	text-align:center;
		    	font-family: $oswald;
		    	font-size:14px;
		    	font-weight:normal;
		    	text-transform:uppercase;
		    	letter-spacing:1px;
		    	width:100%;
		    	display:block;
		    	border:none;
		    }
		    .sf-depth-1 {
		    	height:35px;
		    }
		    a.sf-depth-1 {
		    	line-height:35px;
		    	padding:0;
		    }
			a.active,
			a.active:hover {
	    		@include border-radius(0);
	    		@include box-shadow(none);
	    		background-color:rgba(255, 255, 255, 0.25);
	    	}
	    	a:hover {
	    		background-color:$hover;
	    		text-decoration:none;
	    	}
		    &.first {
				a.sf-depth-1 {
					font-size:18px;
				}
				a .sf-sub-indicator {
					top:.6em;
				}
			}
			ul {
				//width:100%; //second level
				@include rgba-background(rgba(0,0,0,0.75));
				li, a {
					width:100%;
				}
			}
		}
	}
}


//mobile menu
#superfish-1-select {
	background: #000;
	border:none;
	color:#fff;
	height:32px;
	margin:0 auto;
	display:block;
	option {
		padding:2px;
	}
}

// BLOCKS

#block-block-1 {
    background-color: white;
    @include border-radius(3px);
    @include box-shadow(0 0 3px rgba(0,0,0,0.3));
    margin-top: 30px;
    .block-inner {
    	padding: 20px 25px;
    	a {
    		float:right;
    		font-weight:bold;
    	}
    }
    h2.block-title {
	    background: transparent;
	    border: none;
	    padding:7px 0;
	    filter: none; //override ie setting from dkan
	}
}
#block-block-2 {
	text-align:center;
}
#block-block-3 {
	.content h2 {
	    line-height: 105px;
	    padding: 0 15px;
	    color:#fff;
	    font-size:60px;
	    text-shadow:0 0 3px #746457;
	}
}
#block-block-5 { //social media links
	position:absolute;
	top:10px;
	right:0;
	width:135px;
	p,
	.block-inner {
		margin:0;
		padding:0;
	}
	a {
		width:32px;
		height:32px;
		@include hide-text;
		display:inline-block;
		margin:0 0 0 10px;
		padding:0;
		background-repeat:none;
		&.facebook {
			background-position:0 0;
			background-image: url(../images/social-media.png);
			&:hover {
				background-position:0 -42px;
			}
		}
		&.twitter {
			background-position:-42px 0;
			background-image: url(../images/social-media.png);
			&:hover {
				background-position: -42px -42px;
			}
		}
		&.google {
			background-position:-84px 0;
			background-image: url(../images/social-media.png);
			&:hover {
				background-position: -84px -42px;
			}
		}
	}
}
#section-header {
	.dd_after .ddChild a {
		color:$text;
		padding:2px 6px;
	}
	.dd_after .ddChild a.selected,
	.dd_after .ddChild a:hover {
		@include background-opacity($hover, 0.85);
		color:#000;
	}
}

#block-lang-dropdown-language {
	position:absolute;
	top:15px;
	right:150px;
	width:320px;
	h2.block-title {
		font-size:1em;
		font-weight:normal;
		font-family:$sans-serif;
		background:transparent;
		border:none;
		float:right;
		padding:4px 150px 0 0;
		letter-spacing:0;
		filter: none; //override ie setting from dkan
	}
	form {
		position:absolute;
		right:0;
		top:0;
		color:$text;
		margin:0;
		.form-item, .form-actions {
			margin:0;
		}
		select, option {
			color:#000;
		}
	}
	color:$text;
}
#region-branding #block-dkan-sitewide-dkan-sitewide-search-bar input.form-submit {
	background:none;
}
#region-branding #block-dkan-sitewide-dkan-sitewide-search-bar,
#block-dkan-sitewide-dkan-sitewide-search-bar {
    position: absolute;
    right: 0;
    top: 50px;
    .compact-form-description {
    	top:3px;
    }
    .views-exposed-form {
    	.views-exposed-widget {
    		padding:0;
    	}
    }
    .form-type-textfield input {
    	height:24px;
    	@include border-radius(4px);
    	border:1px solid #ccc;
    }
    input.form-submit {
    	@include border-right-radius(4px);
    	@include border-left-radius(0);
  		background:#F2F2F2 url(../images/search.png) no-repeat center center !important;
  		top:0;
  		right:0;
  		height:24px;
  		width:32px;
  		border:1px solid #ccc;
    }
}

#block-dkan-sitewide-demo-front-dkan-search-front {
	bottom:auto;
	top:75px;
	.block-inner {
		background: #fff;
		color:$text;
	}
	h2.block-title {
		font-size:2em;
		filter: none; //override ie setting from dkan
	}
}

.front {
	#zone-postscript {
		.block,
		.view-content,
		.view {
		    background-color: white;
		    @include border-radius(0);
		    box-shadow: none;
		    margin-bottom: 20px;
		    background-image:none;
		    @include box-shadow(none);
		    border:none;
		}
		h2.block-title {
			background:none;
			border:none;
			border-bottom: 1px solid #ccc;
			padding-left:65px;
			height:70px;
			margin:0 0 10px;
			filter: none; //override ie setting from dkan
		}
	}
}

.front {
	#region-postscript-first {
		.region-inner {
			padding:0 15px;
		}
		h2.block-title {
			background:transparent url(../images/new-datasets.png) no-repeat 0 50%;
			line-height:70px;
		}
	}
	#region-postscript-second {
		.region-inner {
			padding:0 15px;
		}
		h2.block-title {
			background:transparent url(../images/featured-viz.png) no-repeat 0 50%;
		}
	}
	#region-postscript-third {
		.region-inner {
			padding:0 15px;
		}
		h2.block-title {
			background:transparent url(../images/help-improve-opr.png) no-repeat 0 50%;
		}
		a {
			display:block;
			text-align:right;
			font-weight:bold;
		}
	}
}
.front {
	.responsive-layout-narrow #region-postscript-first h2.block-title,
	.responsive-layout-narrow #region-postscript-second h2.block-title,
	.responsive-layout-narrow #region-postscript-third h2.block-title {
		font-size:120%;
	}
}

.context-blog #zone-preface.container-12 {
	#region-preface-first.grid-6 {
		width:100%;
	}
}

.container-12 .grid-12 {
	min-width:auto; //override dkan
}
.responsive-layout-mobile {
	#zone-branding-wrapper {
		height:160px;
	}
	#region-branding #block-dkan-sitewide-dkan-sitewide-search-bar {
		top:140px;
	}
	#block-lang-dropdown-language {
		width:auto;
		top:100px;
		right:145px;
		h2.block-title {
			display:none;
		}
	}
	#block-block-5 {
		top:95px;
	}
	.logo-img {
		float:none;
		position:relative;
	}
}

// VIEWS

.views-field-title {
	a {
		color:$text;
	}
}

.views-view-grid {
	td {
		text-align:center;
		vertical-align:bottom;
		a:link,
		a:visited {
			color:$link;
			font-weight:bold;
		}
		a:hover {
			color:$hover;
		}
		.views-field-name,
		.views-field-title {
			margin:10px 0 0 0;
			display:block;
		}
	}
	tr:hover td,
	tr.even:hover td.active,
	tr.odd:hover td.active {
		background: #fff; //override omega
	}
}

.view-faq {
	.field-name-body {
		margin:.5em 0 1.5em 1em;
	}
}

// NODES

#field-tags-wrapper .path-form label,
#edit-path label,
.form-item-field-tags-und label,
#edit-field-format label,
#edit-field-tags-und label {
  width: auto;
  text-align: left;
}

.form-item-field-tags-und label {
	margin-top:5px;
}

// MODULE SPECIFIC

.horizontal-tabs ul.horizontal-tabs-list {
	border:none;
}
#block-views-group-block-block img {
    border: none;
    margin: 0 auto;
    width: auto;
}
.view-group-block .view-content {
	text-align:center;
}
.service-links {
	.service-label {
		display:none;
	}
	ul {
		margin:1em 0;
		padding:0;
	}
}

// FORMS

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.075) inset);
    @include border-radius(3px);
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
textarea:focus, input:focus {
	border-color:$hover;
}

.bue-ui input {
  padding: 0;
  margin:0 2px;
  @include filter(grayscale(100%));
  opacity: .5;
}
.bue-ui {
  margin: 1px 0px;
  clear: both;
  display: block;
}
.page-node-add,
.page-node-edit {
	.form-item-title .description {
		    font-size: .9em;
		    left: auto;
		    top: auto;
	}
	#dataset-node-form {
    .field-name-body {
        textarea {
          border: 1px solid #73BB6D;
        }
    }
    .field-type-taxonomy-term-reference label {
      width: 115px;
      text-align: right;
      padding-right: 15px;
    }
  }
	#dataset-node-form,
	#resource-node-form {
		.form-item-title .description {
		    font-size: 18px;
		    left: 145px;
		    top: 15px;
		}
    .field-name-title-field {
      input {
        height: 55px;
        webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        width: 520px;
        float: right;
        margin-bottom: 8px;
        border: 1px solid #73BB6D;
      }
      label {
        margin-top: 18px;
        width: 110px;
        text-align: right;
      }
    }
    .field-name-field-data-dictionary {
      textarea {
        border: 1px solid #73BB6D;
      }
    }
		.form-item-field-tags-und label {
			margin-top:10px;
		}
    .form-item-language label {
			width:120px;
			text-align:right;
		}
		.field-name-field-license label {
			margin-top:15px;
		}
		.chzn-disabled input {
			padding:0;
			font-size:1em;
		}
    #node_dataset_form_group_additional {
      margin-top: 15px;
      padding-top: 5px;
    }
    .chzn-container-multi .chzn-choices {
      border-radius: 5px;
      input {
        width: 144px;
        padding: 0px;
        font-size: 12px;
        margin: 5px;
        color: rgb(119, 119, 119);
      }
    }
	}
	#blog-node-form {
		#edit-field-tags {
			padding-bottom:20px;
			.form-item-field-tags-und .description {
			    font-size: 0.85em !important;
			    left: 50px;
			    top: 26px;
			    color: #6A6A6A;
			}
		}
		input.form-autocomplete {
			background-position: 99% 5px;
		}
	}
}


// FOOTER

#section-footer {
    background-color: $smokey;
    background-image: none;
    color:$text;
    text-align: center;
    margin-top:1.5em;
    filter: none; //override ie setting from dkan
}

body.page-blog {
  #zone-preface-wrapper {
    border-bottom: 1px solid;
  }
  h1 {
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  #edit-search-api-views-fulltext-wrapper {
    width: 100%;
    input {
      width: 100%;
      height: 2em;
      font-size: 1.6em;
      color:#666;
      padding: 0 1em;
    }
  }
  .views-field-title {
    margin-bottom: 0.3em;
  }
  .pub-deets {
    margin-bottom: 1em;
  }
  .views-field-field-content-image {
    float: left;
    margin: 0 1em 1em 0;
  }
  p {
    font-size: 1.1em;
    line-height: 1.4em;
  }
}
