@import "base";
@import "compass";

body,
#page {
	background:#fff;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $header;
	font-weight: normal;
	letter-spacing:.75px;
}
h2.block-title {
	font-size:2em;
}
.breadcrumb {
    font-size: inherit;
    color:$link; 
    a {
    	color:$link;
    }
}

#zone-branding-wrapper {
    background-color: #FFFFFF;
    background-image: none;
    color: $page;
    height:80px;
    padding: 10px;
    filter: none; //override ie setting from dkan
}
.branding-data {
	line-height:85px;
}

.front .zone-preface-wrapper {
	background-image: url("../images/homepage.jpg");
	@include background-size(cover);
	position:center center; 
}
.front .zone-preface-wrapper:after {
    background-color: transparent;
    background-image: none;
    height: 0;
}
.context-blog .zone-preface-wrapper,
.node-type-blog .zone-preface-wrapper {
	background-image: url("../images/blog.jpg");
	@include background-size(cover);
	position:center center; 
	height:104px;	
}

.front #section-header {
	z-index:5;
}
.front #section-content {
	margin-top:-35px;
	z-index:1;
}
#section-footer:after, #section-footer:before,
#zone-menu-wrapper:after, #zone-menu-wrapper:before,
.zone-postscript-wrapper:before, 
.zone-postscript-wrapper:after, 
.zone-preface-wrapper:before, 
.zone-preface-wrapper:after {
	border:none !important;
	height:0 !important;
	background:transparent;
}

#zone-postscript .block, #zone-content .block {
    background-color: white;
    border:none;
    @include box-shadow(none);
}

#region-sidebar-second {
	.block {
		.block-inner {
			padding:0;
		}
		.content {
			padding:5px 10px;
		}
	}
}

//MENUS

#zone-menu-wrapper {
	@include rgba-background(rgba(0,0,0,0.75));
	height:35px;
	z-index:10;
	padding:0;
}
#block-superfish-1 {
	ul#superfish-1 {
		width:100%;
		margin:0;
		li {
			width:19.5%;
			background:transparent;
			margin:0;
			a {
				line-height: 35px;
		    	padding: 0;
		    	text-align:center;
		    	font-family: $header;
		    	font-size:18px;
		    	font-weight:normal;
		    	text-transform:uppercase;
		    	letter-spacing:1px;
		    	width:100%;
		    	display:block;
		    	border:none;
		    }
			a.active,
			a.active:hover {
	    		@include border-radius(0);
	    		@include box-shadow(none);
	    		background-color:rgba(255, 255, 255, 0.25);
	    	}
	    	a:hover {
	    		background-color:$hover;
	    		text-decoration:none;
	    	}
		    &.first {
				a.sf-depth-1 {
					font-size:22px;
				}
			}
			ul {
				width:100%; //second level
				@include rgba-background(rgba(0,0,0,0.75));
				li, a {
					width:100%;
				}
			}
		}
	}
}
#superfish-1-select {
	background: #000;
	border:none;
	color:#fff;
	height:32px;
	margin:0 auto;
	display:block;
	option {
		padding:2px;
	}
}

// BLOCKS

#block-block-1 {
    background-color: white;
    @include border-radius(3px);
    @include box-shadow(0 0 3px rgba(0,0,0,0.3));
    margin-top: 30px;
    .block-inner {
    	padding: 20px 25px;
    	a {
    		float:right;
    		font-weight:bold;
    	}
    }
    h2.block-title {
	    background: transparent;
	    border: none;
	    padding:7px 0;
	    filter: none; //override ie setting from dkan
	}
}
#block-block-2 {
	text-align:center;
}
#block-block-3 {
	.content h2 {
	    line-height: 105px;
	    padding: 0 15px;
	    color:#fff;
	    font-size:60px;
	    text-shadow:0 0 3px #746457;
	}
}
#block-block-5 { //social media links
	position:absolute;
	top:10px;
	right:0;
	width:135px;
	p,
	.block-inner {
		margin:0;
		padding:0;
	}
	a {
		width:32px;
		height:32px;
		@include hide-text;
		display:inline-block;
		margin:0 0 0 10px;
		padding:0;
		background-repeat:none;
		&.facebook {
			background-position:0 0;
			background-image: url(../images/social-media.png);
			&:hover {
				background-position:0 -42px;
			}
		}
		&.twitter {
			background-position:-42px 0;
			background-image: url(../images/social-media.png);
			&:hover {
				background-position: -42px -42px;
			}
		}
		&.google {
			background-position:-84px 0;
			background-image: url(../images/social-media.png);
			&:hover {
				background-position: -84px -42px;
			}
		}
	}
}
#section-header {
	.dd_after .ddChild a {
		color:$text;
		padding:2px 6px;
	}
	.dd_after .ddChild a.selected,
	.dd_after .ddChild a:hover {
		@include background-opacity($hover, 0.85);
		color:#000;
	}
}

#block-lang-dropdown-language {
	position:absolute;
	top:15px;
	right:150px;
	width:320px;
	h2.block-title {
		font-size:1em;
		font-weight:normal;
		font-family:$sans-serif;
		background:transparent;
		border:none;
		float:right;
		padding:4px 150px 0 0;
		letter-spacing:0;
		filter: none; //override ie setting from dkan
	}
	form {
		position:absolute;
		right:0;
		top:0;
		color:$text;
		margin:0;
		.form-item, .form-actions {
			margin:0;
		}
		select, option {
			color:#000;
		}
	}
	color:$text;
}
#region-branding #block-dkan-sitewide-dkan-sitewide-search-bar input.form-submit {
	background:none;
}
#region-branding #block-dkan-sitewide-dkan-sitewide-search-bar, 
#block-dkan-sitewide-dkan-sitewide-search-bar {
    position: absolute;
    right: 0;
    top: 50px;
    .compact-form-description {
    	top:3px;
    }
    .views-exposed-form {
    	.views-exposed-widget {
    		padding:0;
    	}
    }
    .form-type-textfield input {
    	height:24px;
    	@include border-radius(4px);
    	border:1px solid #ccc;
    }
    input.form-submit {
    	@include border-right-radius(4px);
    	@include border-left-radius(0);
  		background:#F2F2F2 url(../images/search.png) no-repeat center center !important;
  		top:0;
  		right:0;
  		height:24px;
  		width:32px;
  		border:1px solid #ccc;
    }
}

#block-dkan-sitewide-demo-front-dkan-search-front {
	bottom:auto;
	top:75px;
	.block-inner {
		background: #fff;
		color:$text;
	}
	h2.block-title {
		font-size:2em;
		filter: none; //override ie setting from dkan
	}
}

#zone-postscript {
	.block,
	.view-content,
	.view {
	    background-color: white;
	    @include border-radius(0);
	    box-shadow: none;
	    margin-bottom: 20px;
	    background-image:none;
	    @include box-shadow(none);
	    border:none;
	}
	h2.block-title {
		background:none;
		border:none;
		border-bottom: 1px solid #ccc;
		padding-left:60px;
		height:70px;
		line-height:70px;
		margin:0 0 10px;
		filter: none; //override ie setting from dkan
	}
}

#region-postscript-first {
	.region-inner {
		padding:0 15px;
	}
	h2.block-title {
		background:transparent url(../images/new-datasets.png) no-repeat 0 50%;
	}
}
#region-postscript-second {
	.region-inner {
		padding:0 15px;
	}
	h2.block-title {
		background:transparent url(../images/featured-viz.png) no-repeat 0 50%;
	}
}
#region-postscript-third {
	.region-inner {
		padding:0 15px;
	}
	h2.block-title {
		background:transparent url(../images/help-improve-opr.png) no-repeat 0 50%;
	}
	a {
		display:block;
		text-align:right;
		font-weight:bold;
	}
}
.responsive-layout-narrow #region-postscript-first h2.block-title,
.responsive-layout-narrow #region-postscript-second h2.block-title,
.responsive-layout-narrow #region-postscript-third h2.block-title {
	font-size:120%;
}

.context-blog #zone-preface.container-12 {
	#region-preface-first.grid-6 {
		width:100%;
	}
} 

.container-12 .grid-12 {
	min-width:auto; //override dkan
}
.responsive-layout-mobile {
	#zone-branding-wrapper {
		height:160px;
	}
	#region-branding #block-dkan-sitewide-dkan-sitewide-search-bar {
		top:140px;
	}
	#block-lang-dropdown-language {
		width:auto;
		top:100px;
		right:145px;
		h2.block-title {
			display:none;
		}
	}
	#block-block-5 {
		top:95px;
	}
	.logo-img {
		float:none;
		position:relative;
	}
}

// VIEWS 

.views-field-title {
	a {
		color:$text;
	}
}

.views-view-grid {
	td {
		text-align:center;
		vertical-align:bottom;
		a:link,
		a:visited {
			color:$link;
			font-weight:bold;
		}
		a:hover {
			color:$hover;
		}
		.views-field-name,
		.views-field-title {
			margin:10px 0 0 0;
			display:block;
		}
	}
	tr:hover td,
	tr.even:hover td.active,
	tr.odd:hover td.active {
		background: #fff; //override omega
	}
}



// MODULE SPECIFIC

.horizontal-tabs ul.horizontal-tabs-list {
	border:none;
}
#block-views-group-block-block img {
    border: none;
    margin: 0 auto;
    width: auto;
}
.view-group-block .view-content {
	text-align:center;
}
.service-links {
	.service-label {
		display:none;
	}
	ul {
		margin:1em 0;
		padding:0;
	}
}

// FOOTER

#section-footer {
    background-color: $smokey;
    background-image: none;
    color:$text;
    text-align: center;
    margin-top:1.5em;
    filter: none; //override ie setting from dkan
}