@import url("fonts.css");
body, #page { background: #fff; font-family: "Open Sans", "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif; }

h1, h2, h3, h4, h5, h6 { font-family: "Oswald", Arial, Helvetica, sans-serif; font-weight: normal; letter-spacing: .75px; }

h2.block-title { font-size: 2em; }

p { font-family: "Open Sans", "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif; }

.breadcrumb { font-size: inherit; color: #00578e; }
.breadcrumb a { color: #00578e; }

.center { text-align: center; margin: 0 auto; }

.left { text-align: left; }

.right { text-align: right; }

#zone-branding-wrapper { background-color: #FFFFFF; background-image: none; color: white; height: 80px; padding: 10px; filter: none; }

.branding-data { line-height: 85px; }

.front .zone-preface-wrapper { background-image: url("../images/homepage.jpg"); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; position: center center; }

.front .zone-preface-wrapper:after { background-color: transparent; background-image: none; height: 0; }

.context-blog .zone-preface-wrapper, .node-type-blog .zone-preface-wrapper { background-image: url("../images/blog.jpg"); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; position: center center; height: 104px; }

.front #section-header { z-index: 5; }

.front #section-content { margin-top: -35px; z-index: 1; }

#section-footer:after, #section-footer:before, #zone-menu-wrapper:after, #zone-menu-wrapper:before, .zone-postscript-wrapper:before, .zone-postscript-wrapper:after, .zone-preface-wrapper:before, .zone-preface-wrapper:after { border: none !important; height: 0 !important; background: transparent; }

#zone-postscript .block, #zone-content .block { background-color: white; border: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

#region-sidebar-second .block .block-inner { padding: 0; }
#region-sidebar-second .block .content { padding: 5px 10px; }

#zone-menu-wrapper { background: url('/images/rgbapng/000000bf-5.png?1373905306'); background: rgba(0, 0, 0, 0.75); height: 35px; z-index: 10; padding: 0; }

#block-superfish-1 ul#superfish-1 { width: 100%; margin: 0; }
#block-superfish-1 ul#superfish-1 li { width: 19.5%; background: transparent; margin: 0; line-height: auto; }
#block-superfish-1 ul#superfish-1 li a { padding: 5px 6px 4px; text-align: center; font-family: "Oswald", sans-serif; font-size: 14px; font-weight: normal; text-transform: uppercase; letter-spacing: 1px; width: 100%; display: block; border: none; }
#block-superfish-1 ul#superfish-1 li .sf-depth-1 { height: 35px; }
#block-superfish-1 ul#superfish-1 li a.sf-depth-1 { line-height: 35px; padding: 0; }
#block-superfish-1 ul#superfish-1 li a.active, #block-superfish-1 ul#superfish-1 li a.active:hover { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; background-color: rgba(255, 255, 255, 0.25); }
#block-superfish-1 ul#superfish-1 li a:hover { background-color: #31aae1; text-decoration: none; }
#block-superfish-1 ul#superfish-1 li.first a.sf-depth-1 { font-size: 18px; }
#block-superfish-1 ul#superfish-1 li.first a .sf-sub-indicator { top: .6em; }
#block-superfish-1 ul#superfish-1 li ul { background: url('/images/rgbapng/000000bf-5.png?1373905306'); background: rgba(0, 0, 0, 0.75); }
#block-superfish-1 ul#superfish-1 li ul li, #block-superfish-1 ul#superfish-1 li ul a { width: 100%; }

#superfish-1-select { background: #000; border: none; color: #fff; height: 32px; margin: 0 auto; display: block; }
#superfish-1-select option { padding: 2px; }

#block-block-1 { background-color: white; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); margin-top: 30px; }
#block-block-1 .block-inner { padding: 20px 25px; }
#block-block-1 .block-inner a { float: right; font-weight: bold; }
#block-block-1 h2.block-title { background: transparent; border: none; padding: 7px 0; filter: none; }

#block-block-2 { text-align: center; }

#block-block-3 .content h2 { line-height: 105px; padding: 0 15px; color: #fff; font-size: 60px; text-shadow: 0 0 3px #746457; }

#block-block-5 { position: absolute; top: 10px; right: 0; width: 135px; }
#block-block-5 p, #block-block-5 .block-inner { margin: 0; padding: 0; }
#block-block-5 a { width: 32px; height: 32px; text-indent: -119988px; overflow: hidden; text-align: left; display: inline-block; margin: 0 0 0 10px; padding: 0; background-repeat: none; }
#block-block-5 a.facebook { background-position: 0 0; background-image: url(../images/social-media.png); }
#block-block-5 a.facebook:hover { background-position: 0 -42px; }
#block-block-5 a.twitter { background-position: -42px 0; background-image: url(../images/social-media.png); }
#block-block-5 a.twitter:hover { background-position: -42px -42px; }
#block-block-5 a.google { background-position: -84px 0; background-image: url(../images/social-media.png); }
#block-block-5 a.google:hover { background-position: -84px -42px; }

#section-header .dd_after .ddChild a { color: #4d4d4d; padding: 2px 6px; }
#section-header .dd_after .ddChild a.selected, #section-header .dd_after .ddChild a:hover { background: #31aae1; /* The Fallback */ background: rgba(49, 170, 225, 0.85); color: #000; }

#block-lang-dropdown-language { position: absolute; top: 15px; right: 150px; width: 320px; color: #4d4d4d; }
#block-lang-dropdown-language h2.block-title { font-size: 1em; font-weight: normal; font-family: "Open Sans", "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif; background: transparent; border: none; float: right; padding: 4px 150px 0 0; letter-spacing: 0; filter: none; }
#block-lang-dropdown-language form { position: absolute; right: 0; top: 0; color: #4d4d4d; margin: 0; }
#block-lang-dropdown-language form .form-item, #block-lang-dropdown-language form .form-actions { margin: 0; }
#block-lang-dropdown-language form select, #block-lang-dropdown-language form option { color: #000; }

#region-branding #block-dkan-sitewide-dkan-sitewide-search-bar input.form-submit { background: none; }

#region-branding #block-dkan-sitewide-dkan-sitewide-search-bar, #block-dkan-sitewide-dkan-sitewide-search-bar { position: absolute; right: 0; top: 50px; }
#region-branding #block-dkan-sitewide-dkan-sitewide-search-bar .compact-form-description, #block-dkan-sitewide-dkan-sitewide-search-bar .compact-form-description { top: 3px; }
#region-branding #block-dkan-sitewide-dkan-sitewide-search-bar .views-exposed-form .views-exposed-widget, #block-dkan-sitewide-dkan-sitewide-search-bar .views-exposed-form .views-exposed-widget { padding: 0; }
#region-branding #block-dkan-sitewide-dkan-sitewide-search-bar .form-type-textfield input, #block-dkan-sitewide-dkan-sitewide-search-bar .form-type-textfield input { height: 24px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; border: 1px solid #ccc; }
#region-branding #block-dkan-sitewide-dkan-sitewide-search-bar input.form-submit, #block-dkan-sitewide-dkan-sitewide-search-bar input.form-submit { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; border-top-left-radius: 0; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; background: #f2f2f2 url(../images/search.png) no-repeat center center !important; top: 0; right: 0; height: 24px; width: 32px; border: 1px solid #ccc; }

#block-dkan-sitewide-demo-front-dkan-search-front { bottom: auto; top: 75px; }
#block-dkan-sitewide-demo-front-dkan-search-front .block-inner { background: #fff; color: #4d4d4d; }
#block-dkan-sitewide-demo-front-dkan-search-front h2.block-title { font-size: 2em; filter: none; }

.front #zone-postscript .block, .front #zone-postscript .view-content, .front #zone-postscript .view { background-color: white; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; box-shadow: none; margin-bottom: 20px; background-image: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border: none; }
.front #zone-postscript h2.block-title { background: none; border: none; border-bottom: 1px solid #ccc; padding-left: 65px; height: 70px; margin: 0 0 10px; filter: none; }

.front #region-postscript-first .region-inner { padding: 0 15px; }
.front #region-postscript-first h2.block-title { background: transparent url(../images/new-datasets.png) no-repeat 0 50%; line-height: 70px; }
.front #region-postscript-second .region-inner { padding: 0 15px; }
.front #region-postscript-second h2.block-title { background: transparent url(../images/featured-viz.png) no-repeat 0 50%; }
.front #region-postscript-third .region-inner { padding: 0 15px; }
.front #region-postscript-third h2.block-title { background: transparent url(../images/help-improve-opr.png) no-repeat 0 50%; }
.front #region-postscript-third a { display: block; text-align: right; font-weight: bold; }

.front .responsive-layout-narrow #region-postscript-first h2.block-title, .front .responsive-layout-narrow #region-postscript-second h2.block-title, .front .responsive-layout-narrow #region-postscript-third h2.block-title { font-size: 120%; }

.context-blog #zone-preface.container-12 #region-preface-first.grid-6 { width: 100%; }

.container-12 .grid-12 { min-width: auto; }

.responsive-layout-mobile #zone-branding-wrapper { height: 160px; }
.responsive-layout-mobile #region-branding #block-dkan-sitewide-dkan-sitewide-search-bar { top: 140px; }
.responsive-layout-mobile #block-lang-dropdown-language { width: auto; top: 100px; right: 145px; }
.responsive-layout-mobile #block-lang-dropdown-language h2.block-title { display: none; }
.responsive-layout-mobile #block-block-5 { top: 95px; }
.responsive-layout-mobile .logo-img { float: none; position: relative; }

.views-field-title a { color: #4d4d4d; }

.views-view-grid td { text-align: center; vertical-align: bottom; }
.views-view-grid td a:link, .views-view-grid td a:visited { color: #00578e; font-weight: bold; }
.views-view-grid td a:hover { color: #31aae1; }
.views-view-grid td .views-field-name, .views-view-grid td .views-field-title { margin: 10px 0 0 0; display: block; }
.views-view-grid tr:hover td, .views-view-grid tr.even:hover td.active, .views-view-grid tr.odd:hover td.active { background: #fff; }

.view-faq .field-name-body { margin: .5em 0 1.5em 1em; }

#field-tags-wrapper .path-form label, #edit-path label, .form-item-field-tags-und label, #edit-field-tags-und label { width: auto; text-align: left; }

.form-item-field-tags-und label { margin-top: 5px; }

.horizontal-tabs ul.horizontal-tabs-list { border: none; }

#block-views-group-block-block img { border: none; margin: 0 auto; width: auto; }

.view-group-block .view-content { text-align: center; }

.service-links .service-label { display: none; }
.service-links ul { margin: 1em 0; padding: 0; }

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { background-color: #FFFFFF; border: 1px solid #CCCCCC; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; }

textarea:focus, input:focus { border-color: #31aae1; }

.bue-ui input { padding: 0; margin: 0 2px; -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); filter: grayscale(100%); opacity: .5; }

.bue-ui { margin: 1px 0px; clear: both; display: block; }

.page-node-add .form-item-title .description, .page-node-edit .form-item-title .description { font-size: .9em; left: auto; top: auto; }
.page-node-add #dataset-node-form .field-name-body textarea, .page-node-edit #dataset-node-form .field-name-body textarea { border: 1px solid #73BB6D; }
.page-node-add #dataset-node-form .field-type-taxonomy-term-reference label, .page-node-edit #dataset-node-form .field-type-taxonomy-term-reference label { width: 115px; text-align: right; padding-right: 15px; }
.page-node-add #dataset-node-form .form-item-title .description, .page-node-add #resource-node-form .form-item-title .description, .page-node-edit #dataset-node-form .form-item-title .description, .page-node-edit #resource-node-form .form-item-title .description { font-size: 18px; left: 145px; top: 15px; }
.page-node-add #dataset-node-form .field-name-title-field input, .page-node-add #resource-node-form .field-name-title-field input, .page-node-edit #dataset-node-form .field-name-title-field input, .page-node-edit #resource-node-form .field-name-title-field input { height: 55px; webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; width: 520px; float: right; margin-bottom: 8px; border: 1px solid #73BB6D; }
.page-node-add #dataset-node-form .field-name-title-field label, .page-node-add #resource-node-form .field-name-title-field label, .page-node-edit #dataset-node-form .field-name-title-field label, .page-node-edit #resource-node-form .field-name-title-field label { margin-top: 18px; width: 110px; text-align: right; }
.page-node-add #dataset-node-form .field-name-field-data-dictionary textarea, .page-node-add #resource-node-form .field-name-field-data-dictionary textarea, .page-node-edit #dataset-node-form .field-name-field-data-dictionary textarea, .page-node-edit #resource-node-form .field-name-field-data-dictionary textarea { border: 1px solid #73BB6D; }
.page-node-add #dataset-node-form .form-item-field-tags-und label, .page-node-add #resource-node-form .form-item-field-tags-und label, .page-node-edit #dataset-node-form .form-item-field-tags-und label, .page-node-edit #resource-node-form .form-item-field-tags-und label { margin-top: 10px; }
.page-node-add #dataset-node-form .form-item-language label, .page-node-add #resource-node-form .form-item-language label, .page-node-edit #dataset-node-form .form-item-language label, .page-node-edit #resource-node-form .form-item-language label { width: 120px; text-align: right; }
.page-node-add #dataset-node-form .field-name-field-license label, .page-node-add #resource-node-form .field-name-field-license label, .page-node-edit #dataset-node-form .field-name-field-license label, .page-node-edit #resource-node-form .field-name-field-license label { margin-top: 15px; }
.page-node-add #dataset-node-form .chzn-disabled input, .page-node-add #resource-node-form .chzn-disabled input, .page-node-edit #dataset-node-form .chzn-disabled input, .page-node-edit #resource-node-form .chzn-disabled input { padding: 0; font-size: 1em; }
.page-node-add #dataset-node-form #node_dataset_form_group_additional, .page-node-add #resource-node-form #node_dataset_form_group_additional, .page-node-edit #dataset-node-form #node_dataset_form_group_additional, .page-node-edit #resource-node-form #node_dataset_form_group_additional { margin-top: 15px; padding-top: 5px; }
.page-node-add #dataset-node-form .chzn-container-multi .chzn-choices, .page-node-add #resource-node-form .chzn-container-multi .chzn-choices, .page-node-edit #dataset-node-form .chzn-container-multi .chzn-choices, .page-node-edit #resource-node-form .chzn-container-multi .chzn-choices { border-radius: 5px; }
.page-node-add #dataset-node-form .chzn-container-multi .chzn-choices input, .page-node-add #resource-node-form .chzn-container-multi .chzn-choices input, .page-node-edit #dataset-node-form .chzn-container-multi .chzn-choices input, .page-node-edit #resource-node-form .chzn-container-multi .chzn-choices input { width: 144px; padding: 0px; font-size: 12px; margin: 5px; color: #777777; }
.page-node-add #blog-node-form .form-item-title input, .page-node-edit #blog-node-form .form-item-title input { width: 515px; height: 30px; margin-bottom: 5px; }
.page-node-add #blog-node-form #edit-field-tags, .page-node-edit #blog-node-form #edit-field-tags { padding-bottom: 5px; }
.page-node-add #blog-node-form #edit-field-tags .form-item-field-tags-und .description, .page-node-edit #blog-node-form #edit-field-tags .form-item-field-tags-und .description { font-size: 0.85em !important; left: 50px; color: #6A6A6A; }
.page-node-add #blog-node-form input.form-autocomplete, .page-node-edit #blog-node-form input.form-autocomplete { background-position: 99% 5px; }

#section-footer { background-color: #d4d4d4; background-image: none; color: #4d4d4d; text-align: center; margin-top: 1.5em; filter: none; }

body.page-blog #zone-preface-wrapper { border-bottom: 1px solid; }
body.page-blog h1 { width: 0; height: 0; overflow: hidden; margin: 0; }
body.page-blog .action-links { display: none; }
body.page-blog #block-system-main .block-inner { padding-top: 0; }
body.page-blog #edit-search-api-views-fulltext-wrapper { width: 100%; padding-top: 0; }
body.page-blog #edit-search-api-views-fulltext-wrapper label { width: 0; height: 0; overflow: hidden; margin: 0; }
body.page-blog #edit-search-api-views-fulltext-wrapper input { width: 100%; height: 2.3em; font-size: 1.6em; color: #666; padding: 0 1em; }
body.page-blog .views-exposed-widget.views-submit-button { position: absolute; right: 0; padding: 0.9em; }
body.page-blog .views-row { margin-bottom: 2.5em; }
body.page-blog .views-field-title { margin-bottom: 0.3em; }
body.page-blog .pub-deets { margin-bottom: 1em; }
body.page-blog .views-field-field-content-image { float: left; margin: 0 1em 1em 0; }
body.page-blog p { font-size: 1.1em; line-height: 1.4em; }
body.page-blog .continue-reading { float: left; clear: both; margin-bottom: 0.5em; }
body.page-blog .views-field-field-tags { float: left; clear: left; }
body.page-blog .block-facetapi li { list-style: none; }

.node ul.inline, .node ol.inline { margin: 0; }

.node-links ul li { padding: 0; }
.node-links ul li a { background: none no-repeat scroll 0 0 transparent; display: inline; border: medium none; float: none; width: auto; padding: 0; margin: 0; }
.node-links ul li span { margin-right: 10px; }

.service-links ul.links li { display: inline-block; padding: 0 5px; float: left; }

.service-links ul { margin: 0; padding: 10px 0; height: 25px; }

li.service-links-twitter-widget { width: 90px; }

.node-resource-form .field-name-field-format .autocomplete-deluxe-container { width: 515px; float: right; margin: 0 0 20px 0; }

.field-name-field-dataset-ref { padding-top: 10px; clear: both; }

.node-resource-form .field-name-field-format label { margin: 10px 0 0px 0; }

.chzn-container-multi .chzn-choices .search-field .default { color: #777; padding: 3px; height: 25px; margin-left: 5px; font-size: .9em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.chzn-container-multi .chzn-choices { border-radius: 5px; width: 515px; border: 1px solid #CCC; }

#field-tags-wrapper { display: block; clear: both; }

.count-resource { font-weight: bold; padding: 0 5px 0 0; }
