@import url("fonts.css");
body, #page { background: #fff; }

h1, h2, h3, h4, h5, h6 { font-family: "LeagueGothicRegular", Arial, Helvetica, sans-serif; font-weight: normal; letter-spacing: .75px; }

h2.block-title { font-size: 2em; }

.breadcrumb { font-size: inherit; color: #00578e; }
.breadcrumb a { color: #00578e; }

#zone-branding-wrapper { background-color: #FFFFFF; background-image: none; color: white; height: 80px; padding: 10px; }

.branding-data { line-height: 85px; }

.front .zone-preface-wrapper { background-image: url("../images/homepage.jpg"); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; position: center center; }

.front .zone-preface-wrapper:after { background-color: transparent; background-image: none; height: 0; }

.context-blog .zone-preface-wrapper, .node-type-blog .zone-preface-wrapper { background-image: url("../images/blog.jpg"); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; position: center center; height: 105px; }

#zone-menu-wrapper { background: url('/images/rgbapng/000000bf-5.png?1373336579'); background: rgba(0, 0, 0, 0.75); height: 35px; z-index: 10; padding: 0; }

#block-system-main-menu { position: relative; right: auto; top: auto; }
#block-system-main-menu li a { line-height: 35px; padding: 0 10px; }

.front #section-header { z-index: 5; }

.front #section-content { margin-top: -35px; z-index: 1; }

#section-footer:after, #section-footer:before, #zone-menu-wrapper:after, #zone-menu-wrapper:before, .zone-postscript-wrapper:before, .zone-postscript-wrapper:after, .zone-preface-wrapper:before, .zone-preface-wrapper:after { border: none !important; height: 0; }

#region-sidebar-second .block .block-inner { padding: 0; }
#region-sidebar-second .block .content { padding: 5px 10px; }

#block-block-1 { background-color: white; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); margin-top: 30px; width: 460px; }
#block-block-1 .block-inner { padding: 20px 25px; }
#block-block-1 .block-inner a { float: right; font-weight: bold; }
#block-block-1 h2.block-title { background: transparent; border: none; padding: 7px 0; }

#block-block-2 { text-align: center; }

#block-block-3 .content h2 { line-height: 105px; padding: 0 15px; color: #fff; font-size: 3em; text-shadow: 0 0 3px #746457; }

#block-dkan-sitewide-demo-front-dkan-search-front { bottom: auto; top: 75px; }
#block-dkan-sitewide-demo-front-dkan-search-front .block-inner { background: #fff; color: #4d4d4d; }
#block-dkan-sitewide-demo-front-dkan-search-front h2.block-title { font-size: 2em; }

#section-footer { background-color: #d4d4d4; background-image: none; color: #4d4d4d; text-align: center; }
